<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <%- include("partials/style.ejs") %>
</head>

<body>



    <%- include("partials/nav.ejs") %>
    <div class="main">
        <div class="banner">
            <div class="banner-items">
                <div class="image">
                    <img src="https://scontent.fcph4-1.fna.fbcdn.net/v/t1.0-9/12294738_912910935467224_322615123211541870_n.jpg?_nc_cat=111&_nc_ht=scontent.fcph4-1.fna&oh=0d072bef701405c7e8bc6455cf409039&oe=5D58BD59"
                        alt="">
                </div>
                <div class="banner-text">
                    <h1>obaidullah totakhil</h1>
                    <h2>i am web designer</h2>
                </div>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="about-title">
                    <h1>about me</h1>
                    <p>main information about me</p>
                </div>
                <div class="row m-auto pt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="about-image">
                            <img src="https://scontent.fcph4-1.fna.fbcdn.net/v/t1.0-9/14370252_1103821729709476_4409278699856708820_n.jpg?_nc_cat=111&_nc_ht=scontent.fcph4-1.fna&oh=7f09ba93a929dd8981eee49e8235fc99&oe=5D56A2C5"
                                alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="about-text">
                            <h2>hi i am obaidullah totakhil</h2>
                            <p>Hi! My name is <strong>Obaidullah Totakhil .</strong> I am a Web Developer, and I'm very
                                passionate and dedicated to my work. With 20 years experience as a professional Web
                                developer, I have acquired the skills and knowledge necessary to make your project a
                                success. I enjoy every step of the design process, from discussion and collaboration to
                                concept and execution, but I find the most satisfaction in seeing the finished product
                                do everything for you that it was created to do.</p>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-6">
                                <table id="introduction">
                                    <tr>
                                        <td>date of birth</td>
                                        <td>08.01.1987</td>
                                    </tr>
                                    <tr>
                                        <td>lives</td>
                                        <td>denmark</td>
                                    </tr>
                                    <tr>
                                        <td>study</td>
                                        <td>roskilde teknisk skole</td>
                                    </tr>
                                    <tr>
                                        <td>phone</td>
                                        <td>+4553843786</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table id="introduction">
                                    <tr>
                                        <td>age</td>
                                        <td>31</td>
                                    </tr>
                                    <tr>
                                        <td>interests</td>
                                        <td>cricket</td>
                                    </tr>
                                    <tr>
                                        <td>mail</td>
                                        <td>obaidullahahmad3965@gmail.com</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                        <button class="btn btn-default">download CV</button>
                        <button class="btn btn-default">send message</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="ability">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="ability-items">
                            <div class="ability-title">
                                <h2>Some About my Abilities</h2>
                            </div>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since. Lorem Ipsum has been the
                                industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is
                                simply.</p>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="pro">
                            <!-- <div class="progress">
                         <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="80" style="width:40%"40%></div>
                         </div> -->
                            <div class="progress1">
                                <p>HTML5</p>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                            <div class="progress1">
                                <p>CSS3</p>
                                <div class="progress">

                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%;"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>

                            <div class="progress1">
                                <p>BOOTSTRAP4 and 3</p>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 85%;"
                                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                            <div class="progress1">
                                <p>JAVASCRIPT</p>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;"
                                        aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                            <div class="progress1">
                                <p>EXPRESS.JS</p>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%;"
                                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="service-title">
                    <h1>AMAZING SERVICES</h1>
                    <h3>Meet our amazing services</h3>
                </div>
                 <div class="services">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm">
                        <div class="photography">
                                <i class="fas fa-image"></i>
                            <h2>photography</h2>
                            <p>Web design is a similar process of creation, with the intention of presenting the content
                                on electronic pages ...</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm">
                        <div class="webdesign">
                                <i class="fas fa-cogs"></i>
                            <h2>Web Design</h2>
                            <p>Web design is a similar process of creation, with the intention of presenting the content
                                on electronic pages ...</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm">
                        <div class="branding">
                                <i class="fas fa-code-branch"></i>
                            <h2>branding</h2>
                            <p>Web design is a similar process of creation, with the intention of presenting the content
                                on electronic pages ...</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row pt-5">
                    <div class="col-lg-4 col-md-6 col-sm">
                            <div class="social-media">
                                    <i class="fab fa-pagelines"></i>
                                <h2>social media</h2>
                                <p>Web design is a similar process of creation, with the intention of presenting the content
                                    on electronic pages ...</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm">
                                <div class="adobe-xd">
                                        <i class="fab fa-adobe"></i>
                                    <h2>adobe xd</h2>
                                    <p>Web design is a similar process of creation, with the intention of presenting the content
                                        on electronic pages ...</p>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm">
                                    <div class="marketing">
                                            <i class="fas fa-lightbulb"></i>
                                        <h2>marketing</h2>
                                        <p>Web design is a similar process of creation, with the intention of presenting the content
                                            on electronic pages ...</p>
                                    </div>
                                </div>
            </div>
            </div> 
            
        </section>
        <br>
     <hr>

        <section id="education">
            <div class="container">
                <div class="education-title">
                    <h1>my educations</h1>
                    <h3>check out my all educations below... </h3>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
                                        <figcaption>
                                            <h2>english <span> language <br> skills</span></h2>
                                           
                                            
                                            <p><a href="#" class="education-link">read more</a></p>
                                        </figcaption>
                                    </figure>
                                </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
                                        <figcaption>
                                            <h2>english <span> language <br> skills</span></h2>
                                           
                                            
                                            <p><a href="#" class="education-link">read more</a></p>
                                        </figcaption>
                                    </figure>
                                </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
                                        <figcaption>
                                            <h2>english <span> language <br> skills</span></h2>
                                           
                                            
                                            <p><a href="#" class="education-link">read more</a></p>
                                        </figcaption>
                                    </figure>
                                </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09"/>
                                        <figcaption>
                                            <h2>english <span> language <br> skills</span></h2>
                                           
                                            
                                            <p><a href="#" class="education-link">read more</a></p>
                                        </figcaption>
                                    </figure>
                                </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
                <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-md-4 mt-5 bg-light rounded">
                            <h1 class="text-center font-weight-bold text-primary">Contact Us</h1>
                            <hr class="bg-light">
                            <h5 class="text-center text-success"></h5>
                            <form action="index.html" method="post" id="form-box" class="p-2">
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="name" id="firstName" class="form-control" placeholder="Enter your name">
                              </div>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" name="email" id="Email" class="form-control" placeholder="Enter your email">
                              </div>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="text" name="subject" id="subject" class="form-control" placeholder="Enter subject">
                              </div>
                              <div class="form-group input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-comment-alt"></i></span>
                                </div>
                                <textarea name="msg" id="msg" class="form-control" placeholder="Write your message" cols="30" rows="4"></textarea>
                              </div>
                              <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="btn btn-primary btn-block" value="Send">
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
        </section>
        <section id="iso">
            <!-- <% productsList.forEach(function(products){ %>
           <div class="products">
            <img src="<%= products.image %>" style="width: 150px">
            <li><%= products.title %></li>
            <li><%= products.description %></li>
            <% }); %>
        </div>     -->
        </section>

        



        <%- include("partials/footer.ejs")%>
    </div>
    <!--end of main-->



    <!-- <a href="/test">next page</a> -->




    <%- include("partials/links.ejs")%>
</body>

</html>