<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
   <%- include("partials/style.ejs") %>
</head>
<body>
    
    <%- include("partials/nav.ejs") %>
    <div class="main">
        <div class="banner">
            <div class="banner-items">
                <div class="image">
                    <img src="https://scontent.fcph4-1.fna.fbcdn.net/v/t1.0-9/12294738_912910935467224_322615123211541870_n.jpg?_nc_cat=111&_nc_ht=scontent.fcph4-1.fna&oh=0d072bef701405c7e8bc6455cf409039&oe=5D58BD59" alt="">
                </div>
                <div class="banner-text">
                    <h1>obaidullah totakhil</h1>
                    <h2>i am web designer</h2>
                </div>
            </div>
        </div>
        <section id="about">
           <div class="container">
               <div class="about-title">
                   <h1>about me</h1>
                   <p>main information about me</p>
               </div>
               <div class="row m-auto pt-4">
                   <div class="col-lg-4 col-md-6">
                      <div class="about-image">
                          <img src="https://scontent.fcph4-1.fna.fbcdn.net/v/t1.0-9/14370252_1103821729709476_4409278699856708820_n.jpg?_nc_cat=111&_nc_ht=scontent.fcph4-1.fna&oh=7f09ba93a929dd8981eee49e8235fc99&oe=5D56A2C5" alt="">
                      </div>
                   </div>
                   <div class="col-lg-8 col-md-6">
                     <div class="about-text">
                         <h2>hi i am obaidullah totakhil</h2>
                         <p>Hi! My name is <strong>Obaidullah Totakhil .</strong> I am a Web Developer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional Web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration to concept and execution, but I find the most satisfaction in seeing the finished product do everything for you that it was created to do.</p>
                     </div>
                     <div class="row pt-3">
                         <div class="col-sm-6">
                           <table id="introduction">
                               <tr>
                                   <td>date of birth</td>
                                   <td>08.01.1987</td>
                               </tr>
                               <tr>
                                    <td>lives</td>
                                    <td>denmark</td>
                                </tr>
                                <tr>
                                        <td>study</td>
                                        <td>roskilde teknisk skole</td>
                                    </tr>
                                    <tr>
                                            <td>phone</td>
                                            <td>+4553843786</td>
                                        </tr>
                           </table>
                         </div>
                         <div class="col-sm-6">
                                <table id="introduction">
                                        <tr>
                                            <td>age</td>
                                            <td>31</td>
                                        </tr>
                                        <tr>
                                             <td>interests</td>
                                             <td>cricket</td>
                                         </tr>
                                         <tr>
                                                 <td>mail</td>
                                                 <td>obaidullahahmad3965@gmail.com</td>
                                             </tr>
                                             
                                    </table>
                         </div>
                     </div>

                     <button class="btn btn-default">download CV</button>
                     <button class="btn btn-default">send message</button>
                    </div>
               </div>
           </div>
        </section>
           <section id="ability">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-4 col-md-6"></div>
                     <div class="col-lg-8 col-md-6">
                         <div class="progress">
                         <div class="progress-bar" id="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="80" style="width:40%"40%></div>
                         </div>
                     </div>
                 </div>
             </div>
           </section>
           <%- include("partials/footer.ejs")%>
      </div><!--end of main-->
    
   

   <!-- <a href="/test">next page</a> -->

    

    
    <%- include("partials/links.ejs")%>
</body>
</html>